{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Password Reset</title>
    <link
      rel="stylesheet"
      href="{% static 'adminfiles/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'adminfiles/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'adminfiles/css/templatemo-style.css' %}"
    />
  </head>
  <body>
    <div class="container my-3 p-3">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
            <div class="alert alert-info">
              Your password has been set. You may go ahead and
              <a href="{% url 'login' %}">Login Here</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2018</b> All rights reserved. Design:
          <a
            rel="nofollow noopener"
            href="https://templatemo.com"
            class="tm-footer-link"
            >Template Mo</a
          >
        </p>
      </div>
    </footer>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
