{% extends 'parent.html' %}


{% load static %}
{% block contents %}



    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Single Product Page</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <form id="product" action="/product/productsave/" method="get">
        {% csrf_token %}

        <div class="input-group">
           
            <input type="text" aria-label="product name:" >
            <input type="text" aria-label="price:">
          </div>



    </form>
  
{% include "subscribe.html" %}
    
    {% endblock %}